{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<h1 class="title centered-title">Non Disclosure Agreement</h1>
<div class="centered-75">
    <p class="minor-text ">
        About The Beta Test Non-Disclosure Agreement
        Congratulations on being selected to participate in an upcoming beta test! This Beta Test Non-Disclosure
        Agreement is a legal document being executed between you and E-Athlete Ltd. that outlines your confidentiality
        obligations to the company. It is important for you and E-Athlete Ltd. that you are comfortable with these
        terms. While it may not be exciting reading, you should read the entire agreement before you sign it. If you do
        not understand or agree to any part of the agreement, you should not sign this document and instead ask
        questions before completing it.

        By signing this document, you are agreeing to all the provisions. Included in these terms is your agreement to:

        Not disclose that you are participating in this test
        Not show the materials to others
        Not share copies, pictures, or videos of the test materials in any form

        Thank you! We look forward to your participation in the test.
    </p>
</div>
{% endblock content %}